<h1>Task Manager</h1>

<p>This is an application to manage a to do list.</p>


<%= link_to('Catagories', catagories_path) %><br />
<%= link_to('Tasks', tasks_path(page: 1)) %><br />

<%= link_to('About', {controller: 'main', action: 'about'}) %><br />
